<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>0x00</string>
	<string>0x01</string>
	<string>0x02</string>
	<string>0x03</string>
	<string>0x04</string>
	<string>0x05</string>
	<string>0x06</string>
	<string>0x07</string>
	<string>0x08</string>
	<string>0x09</string>
	<string>LF</string>
	<string>0x0b</string>
	<string>0x0c</string>
	<string>CR</string>
	<string>0x0e</string>
	<string>0x0f</string>
	<string>0x10</string>
	<string>0x11</string>
	<string>0x12</string>
	<string>0x13</string>
	<string>0x14</string>
	<string>0x15</string>
	<string>0x16</string>
	<string>0x17</string>
	<string>0x18</string>
	<string>0x19</string>
	<string>0x1a</string>
	<string>0x1b</string>
	<string>0x1c</string>
	<string>0x1d</string>
	<string>0x1e</string>
	<string>0x1f</string>
	<string> </string>
	<string>!</string>
	<string>&quot;</string>
	<string>#</string>
	<string>$</string>
	<string>%</string>
	<string>&amp;</string>
	<string>&apos;</string>
	<string>(</string>
	<string>)</string>
	<string>*</string>
	<string>+</string>
	<string>,</string>
	<string>-</string>
	<string>.</string>
	<string>/</string>
	<string>0</string>
	<string>1</string>
	<string>2</string>
	<string>3</string>
	<string>4</string>
	<string>5</string>
	<string>6</string>
	<string>7</string>
	<string>8</string>
	<string>9</string>
	<string>:</string>
	<string>;</string>
	<string>&lt;</string>
	<string>=</string>
	<string>&gt;</string>
	<string>?</string>
	<string>@</string>
	<string>A</string>
	<string>B</string>
	<string>C</string>
	<string>D</string>
	<string>E</string>
	<string>F</string>
	<string>G</string>
	<string>H</string>
	<string>I</string>
	<string>J</string>
	<string>K</string>
	<string>L</string>
	<string>M</string>
	<string>N</string>
	<string>O</string>
	<string>P</string>
	<string>Q</string>
	<string>R</string>
	<string>S</string>
	<string>T</string>
	<string>U</string>
	<string>V</string>
	<string>W</string>
	<string>X</string>
	<string>Y</string>
	<string>Z</string>
	<string>[</string>
	<string>\</string>
	<string>]</string>
	<string>^</string>
	<string>_</string>
	<string>`</string>
	<string>a</string>
	<string>b</string>
	<string>c</string>
	<string>d</string>
	<string>e</string>
	<string>f</string>
	<string>g</string>
	<string>h</string>
	<string>i</string>
	<string>j</string>
	<string>k</string>
	<string>l</string>
	<string>m</string>
	<string>n</string>
	<string>o</string>
	<string>p</string>
	<string>q</string>
	<string>r</string>
	<string>s</string>
	<string>t</string>
	<string>u</string>
	<string>v</string>
	<string>w</string>
	<string>x</string>
	<string>y</string>
	<string>z</string>
	<string>{</string>
	<string>|</string>
	<string>}</string>
	<string>~</string>
	<string>DEL</string>
	<string>Ä</string>
	<string>Å</string>
	<string>Ç</string>
	<string>É</string>
	<string>Ñ</string>
	<string>Ö</string>
	<string>Ü</string>
	<string>á</string>
	<string>à</string>
	<string>â</string>
	<string>ä</string>
	<string>ã</string>
	<string>å</string>
	<string>ç</string>
	<string>é</string>
	<string>è</string>
	<string>ê</string>
	<string>ë</string>
	<string>í</string>
	<string>ì</string>
	<string>î</string>
	<string>ï</string>
	<string>ñ</string>
	<string>ó</string>
	<string>ò</string>
	<string>ô</string>
	<string>ö</string>
	<string>õ</string>
	<string>ú</string>
	<string>ù</string>
	<string>û</string>
	<string>ü</string>
	<string>†</string>
	<string>°</string>
	<string>¢</string>
	<string>£</string>
	<string>§</string>
	<string>•</string>
	<string>¶</string>
	<string>ß</string>
	<string>®</string>
	<string>©</string>
	<string>™</string>
	<string>´</string>
	<string>¨</string>
	<string>≠</string>
	<string>Æ</string>
	<string>Ø</string>
	<string>∞</string>
	<string>±</string>
	<string>≤</string>
	<string>≥</string>
	<string>¥</string>
	<string>µ</string>
	<string>∂</string>
	<string>∑</string>
	<string>∏</string>
	<string>π</string>
	<string>∫</string>
	<string>ª</string>
	<string>º</string>
	<string>Ω</string>
	<string>æ</string>
	<string>ø</string>
	<string>¿</string>
	<string>¡</string>
	<string>¬</string>
	<string>√</string>
	<string>ƒ</string>
	<string>≈</string>
	<string>∆</string>
	<string>«</string>
	<string>»</string>
	<string>…</string>
	<string>NBSP</string>
	<string>À</string>
	<string>Ã</string>
	<string>Õ</string>
	<string>Œ</string>
	<string>œ</string>
	<string>–</string>
	<string>—</string>
	<string>“</string>
	<string>”</string>
	<string>‘</string>
	<string>’</string>
	<string>÷</string>
	<string>◊</string>
	<string>ÿ</string>
	<string>Ÿ</string>
	<string>⁄</string>
	<string>€</string>
	<string>‹</string>
	<string>›</string>
	<string>ﬁ</string>
	<string>ﬂ</string>
	<string>‡</string>
	<string>·</string>
	<string>‚</string>
	<string>„</string>
	<string>‰</string>
	<string>Â</string>
	<string>Ê</string>
	<string>Á</string>
	<string>Ë</string>
	<string>È</string>
	<string>Í</string>
	<string>Î</string>
	<string>Ï</string>
	<string>Ì</string>
	<string>Ó</string>
	<string>Ô</string>
	<string></string>
	<string>Ò</string>
	<string>Ú</string>
	<string>Û</string>
	<string>Ù</string>
	<string>ı</string>
	<string>ˆ</string>
	<string>˜</string>
	<string>¯</string>
	<string>˘</string>
	<string>˙</string>
	<string>˚</string>
	<string>¸</string>
	<string>˝</string>
	<string>˛</string>
	<string>ˇ</string>
</array>
</plist>
